* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(6, 4, 10);
}

.popular {
  font-size: 20px;
  color: white;
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.game-img-con {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 6%;
  column-gap: 2%;
  margin: auto;
}

.game-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .game-img-con {
    grid-template-columns: 1fr 1fr;
    row-gap: 2%;
    column-gap: 6%;
  }
}
